    .style1 {
      margin: 10px auto;
      background-color: gray;
      display: block;
      color: black;
      border: 1px solid white;
      padding: 10px 25px;
      font-size: 18px;
    }

    .style1:hover {
      background-color: black;
      color: White;
      cursor: pointer
    }