    .style1 {
      margin: 10px auto;
      background-color: #9999FF;
      display: block;
      color: White;
      border: 1px solid white;
      padding: 10px 25px;
      font-size: 18px;
    }

    .style1:hover {
      background-color: #66B3FF;
      cursor: pointer;
    }